<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <title>Pottoe</title>
</head>

<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="row1">

    <div class="row1content" th:if="${creator}">

        <h2 th:text="${creator.name}">naam</h2>

        <div class="venueinfo">
            <div class="infoLine" th:if="${creator.email}">
                <div class="infoLineName">Email</div>
                <div class="infoLineValue" th:text="${creator.email}">email</div>
            </div>

         </div>

        <div class="venueinfo">

            <h2>Creaties</h2>
            <div th:each="creation: ${creations}">
                <a class="buttonLook mediumButton"
                   th:href="@{|/creationdetails/${creation.getId()}|}">
                    <span th:text="${creation.name}">creation name </span>
                    <img th:src="@{|/${creation.imgSource}|}" alt="Foto">
                </a>
            </div>

        </div>

    <div class="row1content" th:unless="${creator}">
        <h2>oops geen maker geselecteerd</h2>
    </div>
</div>

</body>
</html>