<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Pottoe</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content">

        <h2>Creatie toevoegen</h2>

        <form th:action="@{|/creationnew|}" method="post" th:object="${creation}">

            <div class="filters">
                <a class="buttonLook filterButton" th:href="@{|/creationlist|}">Terug naar Overzicht</a>
            </div>

            <div class="venueinfo">
                <div class="infoLine">
                    <label for="creationName" class="infoLineName">Naam creatie:</label>
                    <input id="creationName" th:field="*{name}" class="infoLineValue">
                </div>

                <div class="infoLine">
                    <label for="creationType" class="infoLineName">Type creatie:</label>
                    <input id="creationType" th:field="*{type}" class="infoLineValue">
                </div>

                <div class="infoLine">
                    <label for="creationInfo" class="infoLineName">Extra info creatie:</label>
                    <input id="creationInfo" th:field="*{extraInfo}" class="infoLineValue">
                </div>

                <div class="infoLine">
                    <label for="creationImgSource" class="infoLineName">Locatie afbeelding:</label>
                    <input id="creationImgSource" th:field="*{imgSource}" placeholder="tip: img/creatie12.jpg" class="infoLineValue">
                </div>

                <div class="infoLine">
                    <label for="creationPrice" class="infoLineName">Prijs creatie:</label>
                    <input id="creationPrice" th:field="*{price}" class="infoLineValue">
                </div>

                <div class="infoLine">
                    <label for="creator"  class="infoLineName">Gemaakt door:</label>
                    <select name="creator" th:field="*{creator}" id="creator" class="infoLineValue"
                            onclick="sendRequest()">
                        <option value="" selected></option>
                        <option th:each="creator : ${creators}" th:value="${creator.id}"
                                th:text="${creator.name}"></option>
                    </select>
                </div>
            </div>
            <div class="onefilter">
                <input type="submit" value="Voeg toe" class="buttonLook filterButton">
            </div>


        </form>

    </div>

</div>
</body>
</html>