<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Pottoe</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content">

        <form th:action="@{|/creationnew|}" method="post" th:object="${creation}">

            <div class="venueinfo">
                <div class="onefilter">
                    <label for="creationName" class="filtername">Naam creatie:</label>
                    <input id="creationName" th:field="*{name}">
                </div>

                <div class="onefilter">
                    <label for="creationType" class="filtername">Type creatie:</label>
                    <input id="creationType" th:field="*{type}">
                </div>

                <div class="onefilter">
                    <label for="creationInfo" class="filtername">Extra info creatie:</label>
                    <input id="creationInfo" th:field="*{extraInfo}">
                </div>

                <div class="onefilter">
                    <label for="creationImgSource" class="filtername">Locatie afbeelding:</label>
                    <input id="creationImgSource" th:field="*{imgSource}">
                </div>

                <div class="onefilter">
                    <label for="creationPrice" class="filtername">Prijs creatie:</label>
                    <input id="creationPrice" th:field="*{price}">
                </div>

                <div class="infoLine">
                    <label for="creator">Gemaakt door:</label>
                    <select name="creator" th:field="*{creator}" id="creator" class="form-select"
                            onclick="sendRequest()">
                        <option value="" selected></option>
                        <option th:each="creator : ${creators}" th:value="${creator.id}"
                                th:text="${creator.name}"></option>
                    </select>
                </div>

                <div class="infoLine">
                    <a th:href="@{|/creationlist|}" class="buttonLook editButton">cancel</a>
                    <input type="submit" value="create" class="buttonLook editButton">
                </div>
            </div>


        </form>

    </div>

</div>
</body>
</html>