<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content">
        <h2>Creaties</h2>
        <div class="cols2">

            <div th:unless="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/creationlist/filter}">filter</a>
            </div>

            <div th:if="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/creationlist}">-</a>
                <form>
                    <h3>Borden/Potjes/Tasjes</h3>
                    <div class="onefilter">
                        <label for="type" class="filtername">Type:</label>
                        <input type="text" id="type" name="type" th:value="${type}" value="0">
                    </div>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                </form>
            </div>

            <div class="venuelist">
                <div th:each="creation:${creations}">
                    <a class="buttonLook mediumButton" th:href="@{|/creationdetails/${creation.id}|}">
                        <span th:text="${creation.name}">creation name </span>
                        <img th:src="@{|/${creation.imgSource}|}" alt="Foto">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>