<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <title>Pottoe</title>
</head>

<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="row1">
    <div class="row1content">
        <h2>Welkom</h2>
        <p>
            Test test pipeline

            Lorem ipsum dolor sit amet,. Donec laoreet tincidunt sollicitudin Aliquam. Proin sagittis turpis semper purus. Phasellus ut consectetur mauris magna. Donec vel ligula eu erat.

            Sed dui lectus, varius eget. Nam sed magna urna sodales. Praesent eget eleifend libero risus. Duis volutpat, dolor nec scelerisque. Phasellus in nisi diam suscipit.

            Donec mattis erat ac lorem. Vestibulum auctor augue ut enim. Curabitur ornare eleifend lectus, eget. Maecenas sodales, dui nec condimentum. Nam purus sapien, elementum nec.

            Suspendisse ullamcorper egestas molestie non. Mauris luctus ligula id nibh. Cras erat neque, dignissim in. In sapien nibh, tincidunt non. Sed sed mauris nibh eros..

            Proin dui nibh, facilisis sed. Aliquam leo nulla, adipiscing sed. Proin scelerisque lectus rhoncus erat. Pellentesque aliquet ante sed nunc. Phasellus ut nibh justo blandit..

            Nunc fringilla, nunc in mattis. Mauris mollis risus sit amet. Quisque venenatis gravida dapibus non. Sed ornare, dolor in rhoncus. Ut hendrerit mollis felis, sed.

            Phasellus consectetur volutpat tortor at. Cras eu purus ipsum, quis. Morbi ullamcorper porta risus, ac. Integer semper convallis purus vitae. Vestibulum facilisis, neque nec mollis.
        </p>
    </div>
</div>

</body>

</html>